<html ng-app="exampleApp">
<head>
<title>Template</title>

<script src="static/js/angular.js"></script>
<link href="static/css/bootstrap.min.css" rel="stylesheet" />


</head>

<body ng-controller="defaultCtrl">

	<script>
		var myApp = angular.module("exampleApp", []);
		myApp.config([ '$locationProvider', function($locationProvider) {
			$locationProvider.html5Mode(true);
		} ]);
		myApp.controller("defaultCtrl", function($scope, $http, $window) {
			var url = "http://localhost:8081/rental/auto/";
			$window.onload = function(e) {
				$http.get(url).then(
						function(response) {
			 				$scope.cars = response.data;
							 alert(cars);
						});			
			}	 
			$scope.filter = function() {
				var newUrl = url + $scope.pickUp.lot + "/"+ $scope.max.rate;
	 	 		$http.get(newUrl).then(
						function(response) {
							$scope.cars = response.data;	 				 
	 	 			 });			
			} 
			$scope.select = function(id) {
 				$http.get(url + "/" + id).then(
						function(response) {
							$scope.selectedCar = response.data;
						});
			}
			 
	 
			
		});
	</script>
	<div class="panel panel-primary">
		 <div class="panel-heading" >
		            <h2>Inventory </h2>
                    <div ng-model="selectedCar">
					  <h2><span>{{selectedCar.make}}</span> <span>{{selectedCar.model}}</span>
					  <span>{{selectedCar.location}}</span> <span> {{selectedCar.dailyRate | currency}}</span></h2> 
                    </div> 
          </div>
           <div class="panel-body">
           
				   <div class="form-group"> 
					   <label for="loc">PickUp:</label>
					    <select id="loc" ng-model="pickUp.lot" >
				 	             <option ng-repeat="x  in ['BMI', 'ORD', 'PEA']" >{{x}}</option>
					    </select>
                        <label for="price">Max Daily Rate:</label>
                        <select ng-model="max.rate" >
                                <option ng-repeat="n in [10,20,30,40,50,60] ">{{n}}</option>
                         </select>                    
                        <button class="btn btn-info" ng-click="filter()">Search</button>
                         
                    </div>
                    
                 </div>
			<table class="table table-striped">
				<thead>
					<th>Id</th>
					<th>Category</th>
 					<th>Make</th>
					<th>Model</th>				
		 			<th>DailyRate</th>
		 			<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="item in cars">
						<td>{{item.id}}</td>
						<td>{{item.category}}</td>
		 				<td>{{item.make}}</td>
						<td>{{item.model}}</td>
						<td>{{item.dailyRate | currency}}</td>
				 		 <td>
							<button class="btn btn-info" ng-click="select(item.id)">Cost with Tax</button>

						</td>
					</tr>
				</tbody>
			</table>
            </div>
		</div>
</body>
</html>